* {
    box-sizing: border-box;
  }
  
  body,
  html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(43, 99, 162);
  }
  
  /* ------------------- Header ------------------- */
  .bg-image {
    height: 50%;
    }
  
  
  .bg-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 10px;
    text-align: center;
  }
  
  /* ------------------- content -------------------------------- */
  
  .content {
    padding-left: 100px;
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 200px;
    color: #f1f1f1;   
  }
  
  .content ul{
    text-align: left;
    padding-left: 0px;
  }
  .content li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    padding: auto;
    text-decoration: none;
  }
  
  
  .button {
    padding-left: 600px;
    border-radius: 4px;
    background-color: #0e2fb2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
  
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
  }
  .jumpBottom{
   margin-left: 600px;
   padding-left: 100px;
   text-align: center;
   border-radius: 4px;
   background-color: #14b2d5;
   border: none;
   color: #FFFFFF;
   font-size: 15px;
   padding: 10px;
   width: 200px;
   transition: all 0.5s;
   cursor: pointer;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  